body {
    background-color: rgb(10, 9, 9);
  }
  h1 {
    color:white;
    text-align: center;
  }
  
  .special {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .container {
    width: 500px;
    clear: both;
  }
  .table {
    color:white;
    display: table;
  }
  .tablerow {
    color:white;
    display: table-row;
  }
  .tablecell {
    display: table-cell;
  }
  .description {
    display: table-cell;
    height: 150px;
  }